.chart-container{
    background-color: rgb(206, 206, 206);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 25rem;
    width: 25rem;
    gap: 1rem;
    margin: auto;
    padding: 1rem;
}

.chart-canvas {
    width: 300px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
  }
  
  
  
  
  